
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>resetpassword</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src=@Url.Content("~/Scripts/jquery.validate.min.js")></script>
    <script src=@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")></script>

    <style>
        .form-gap {
            padding-top: 80px;
        }
    </style>

</head>
<body>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <div class="form-gap"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="text-center">
                            <h3><i class="fa fa-lock fa-4x"></i></h3>
                            <h2 class="text-center">Forgot Password?</h2>
                            <p>Enter Registered Email and you will get your password in Email.</p>
                            <div class="panel-body">
                                @using (Html.BeginForm("resetpass", "Login", FormMethod.Post, new { @onsubmit = "return validation()" }))
                                {
                                    <div class="form-group">
                                        <div class="input-group">
                                            <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
                                            <input id="email" name="email" placeholder="email address" class="form-control" type="email">
                                        </div>
                                        <span id="evalidation" class="text-danger"></span>
                                    </div>
                                    <br />
                                    <div class="form-group">
                                        <input class="btn btn-lg btn-primary btn-block" value="Send Email" type="submit">
                                        <a href="@Url.Action("Index","Login")"><input class="btn btn-lg btn-primary btn-block" value="Cancel" type="button"></a>
                                    </div>

                                    if (@ViewBag.errormessage != null)
                                    {
                                        <h3 class="text-danger">@ViewBag.errormessage</h3>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<script>
    function validation() {
        var emailvalue = document.getElementById("email").value;
        var filter = /^(([^<>()\[\]\\.,;:\s@@"]+(\.[^<>()\[\]\\.,;:\s@@"]+)*)|(".+"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

        if (emailvalue == "") {
            document.getElementById("evalidation").innerHTML = "Enter Email address";
            return false;
        }
        else {
            if (filter.test(emailvalue)) {
                document.getElementById("evalidation").innerHTML = "";
                return true;
            }
            else {
                document.getElementById("evalidation").innerHTML = "Invalid Email Address";
                return false;
            }
        }
    }
</script>